#search {
    background: greenyellow;
    color: white;
    margin: 1 1;
}
#app {
    background: blue;
    color: white;
    margin: 5 5;
}
Header {
    background: mediumseagreen;
    color: white;
}